
<% @ports.each do |port| %>
<br/>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="card mb-3">
            
            <% if port.img.nil? %>
              <img class="card-img-top" src="/assets/port_sample.svg" alt="None Image for this project">
            <% else %>
              <img class="card-img-top" src="<%= port.img %>" alt="<%= port.title %>">
            <% end %>
            <div class="card-body">
                <h5 class="card-title"><%= port.title %></h5>
                <p class="card-text"><%= port.content %></p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            
            <div class="card-footer text-muted align-middle">
                <% port.members.each do |member| %>
                <a href="#" class="text-muted"
                data-toggle="modal" data-target="#Modal<%=member.id%>">
                <%= member.name %></a>
                <% end %>
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
<% end %>

<% @members.each do |member| %>
<!-- modal -->
<div class="modal fade bd-example-modal-lg" id="Modal<%= member.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
            멋쟁이 사자처럼 <%= member.term %>기, <%= member.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if member.istutor > 0 %>
            <p>멋쟁이 사자처럼 <%= member.term %>기에 배워 <%= member.istutor %>기 운영진으로 활동</p>
        <% else %>
            <p>멋쟁이 사자처럼 <%= member.term %>기 학생</p>
        <% end %>
        <h5 class="modal-title" id="exampleModalLabel"> 참여 프로젝트 </h5>
        
        <table class="table">
          <% member.ports.each do |port| %>
            <tr>
                <th><%= port.title %></th>
                <td><%= port.content %></td>
            </tr>
          <% end %>
        </table>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- modal end -->

<% end %>