<div class="container">
    <div class="row">
      <% temp = 4 %>
      <% @members.each do |member| %>
          <% if temp != member.term %>
          <hr width = "90%">
          <% end %>
          <div class="col-sm-3">
            <div class="card" style="width: 16rem; margin-top: 1rem; margin-bottom: 1rem;">
              <img class="card-img-top" src="/assets/replace.svg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"><%= member.name %></h5>
                <p class="card-text"><%= member.term %>기</p>
                
                <!-- modal button-->
                
                <!--todo :
                  - 각 반복문 마다 modal 만드는데
                    모달 id 뒤에 멤버 id 로 조작할 수 있게 ㅇㅋ?
                -->
                <%= 
                button_tag class: "btn btn-outline-secondary",
                data: { toggle: "modal", target: "#Modal" + member.id.to_s } do
                  content_tag(:strong, 'View detail')
                end
                
                %>
                
                <!-- modal -->
                <div class="modal fade bd-example-modal-lg" id="Modal<%= member.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            멋쟁이 사자처럼 <%= member.term %>기, <%= member.name %></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <% if member.istutor > 0 %>
                            <p>멋쟁이 사자처럼 <%= member.term %>기에 배워 <%= member.istutor %>기 운영진으로 활동</p>
                        <% else %>
                            <p>멋쟁이 사자처럼 <%= member.term %>기 학생</p>
                        <% end %>
                        <h5 class="modal-title" id="exampleModalLabel"> 참여 프로젝트 </h5>
                        
                        <table class="table">
                          <% member.ports.each do |port| %>
                            <tr>
                                <th><%= port.title %></th>
                                <td><%= port.content %></td>
                            </tr>
                          <% end %>
                        </table>
                        
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- modal end -->
                
              </div>
            </div>
          </div>
          <% temp = member.term %>
      <% end %>
    </div>
</div>

